<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713551165289-i6drqo2i8s3b8j8mffu1l45tahlbnr5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713551165289-i6drqo2i8s3b8j8mffu1l45tahlbnr5b</string>
	<key>API_KEY</key>
	<string>AIzaSyDsqvzNw_F769WGJ-2v5j31kYLWdOWuYN0</string>
	<key>GCM_SENDER_ID</key>
	<string>713551165289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amazonaws.iot</string>
	<key>PROJECT_ID</key>
	<string>meapp-d0448</string>
	<key>STORAGE_BUCKET</key>
	<string>meapp-d0448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713551165289:ios:8df1a4ef77686c818a2ff8</string>
</dict>
</plist>